@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap");
// @import url("http://fonts.cdnfonts.com/css/awesome-journey");
// @import url("http://fonts.cdnfonts.com/css/sofia-pro");

@font-face {
   font-family: "AweSomE JouRneY";
   font-style: normal;
   font-weight: 400;
   src: local("AweSomE JouRneY"),
      url("../fonts/AweSomE_JouRneY.otf") format("woff");
}
@font-face {
   font-family: "Sofia Pro";
   font-style: normal;
   font-weight: 400;
   src: local("Sofia Pro"),
      url("../fonts/Sofia_Pro_Regular_Az.otf") format("woff");
}
@font-face {
   font-family: "Sofia Pro";
   font-style: normal;
   font-weight: 300;
   src: local("Sofia Pro"),
      url("../fonts/Sofia_Pro_Light_Az.otf") format("woff");
}
@font-face {
   font-family: "Sofia Pro";
   font-style: normal;
   font-weight: 500;
   src: local("Sofia Pro"),
      url("../fonts/Sofia_Pro_Medium_Az.otf") format("woff");
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background: url(../img/body-bg.png);
   background-size: cover;
   background-position: center top;
   // background: #3c0f60;
   font-family: "Sofia Pro", sans-serif;
   color: #b2bac2;
   font-weight: 300;
   font-size: 15px;
}

body.rtl {
   direction: rtl;
   overflow-x: hidden;
   .form-select {
      background-position-x: 12px !important;
   }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   //   border: 1px solid green;
   -webkit-text-fill-color: #b2bac2;
   box-shadow: 0 0 0px 1000px rgba(100, 69, 237, 0.2) inset;
   transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: "Urbanist", sans-serif;
   font-weight: 700;
   color: #fff;
}
h1 {
   font-size: 64px;
   font-family: "AweSomE JouRneY", sans-serif;
}
h2 {
   font-size: 48px;
   font-family: "AweSomE JouRneY", sans-serif;
}
h3 {
   font-size: 32px;
}
h4 {
   font-size: 24px;
}
h5 {
   font-size: 18px;
}
a {
   text-decoration: none;
}
p {
   margin-bottom: 15px;
}
.btn:focus {
   box-shadow: 0 0 0 0rem black;
}
button {
   background: none;
   border: none;
   padding: 0;
}
i {
   font-size: 18px;
}

.btn-nft {
   width: 175px;
   height: 55px;
   display: inline-block;
   text-align: center;
   padding: 18px 0;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 400;
   background-size: 200% auto;
   background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
   color: #fff;
   border: none;
   border-radius: 100px;
   transition: 0.4s;
   box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
   i {
      margin-right: 10px;
   }
   &:hover {
      color: #fff;
   }
}

.rtl .btn-nft {
   i {
      margin-right: 0;
      margin-left: 10px;
   }
}

// ------------------------------------------------------------------------------------------
// HOME PAGE START
// ------------------------------------------------------------------------------------------

// navbar
.navbar {
   padding: 0px 15px;
   .navbar-brand {
      font-family: "AweSomE JouRneY", sans-serif;
      font-size: 32px;
      color: #fff;
      display: inline-block;
      width: 248px;
   }
   .navbar-toggler {
      position: absolute;
      right: 15px;
      top: 34px;
      i {
         color: #fff;
         font-size: 24px;
         transition: 0.4s;
         &:hover {
            color: #e039fd;
         }
      }
      &:focus {
         box-shadow: 0 0 0 0rem;
      }
   }
   .nav-item {
      margin: 0 15px;
      .nav-link {
         color: #fff;
         text-transform: capitalize;
         transition: 0.4s;
         &.active,
         &:hover {
            color: #e039fd;
         }
      }
   }
   &.active {
      background: url(../img/body-bg2.png);
      background-size: cover;
      background-position: center top;
   }
   // navbar text
   .navbar-text {
      position: relative;
      right: 0;
      padding: 0;
      .profile {
         margin-left: 5px;
         position: relative;
         top: -3px;
         img {
            width: 45px;
            height: 45px;
            border-radius: 100px;
         }
      }
      .wallet {
         width: 140px;
         height: 45px;
         text-transform: capitalize;
         padding: 0;
         position: relative;
         top: -2px;
         box-shadow: none;
      }
      .notification-panel {
         position: relative;
         display: inline-block;
         width: auto;
         padding: 20px 0;
         margin-left: 5px;
         &:hover {
            .notification-dropdown {
               display: block;
            }
         }
         .dropdown-toggle {
            background: none;
            background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
            width: 45px;
            height: 45px;
            border-radius: 100px;
            padding-top: 4px;
            &::after {
               display: none;
            }
            i {
               color: #fff;
            }
         }
         .dropdown-box {
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            &::-webkit-scrollbar {
               width: 3px;
               height: 100%;
            }
            &::-webkit-scrollbar-track {
               background: #3c0f60;
               border-radius: 100px;
            }
            &::-webkit-scrollbar-thumb {
               background: rgba(255, 255, 255, 0.05);
               background: #e039fd;
               border-radius: 6px;
               &:hover {
                  background: #10ce8c;
               }
            }
         }
         .notification-dropdown {
            background: #3c0f60;
            width: 290px;
            height: 324px;
            overflow: hidden;
            padding-bottom: 40px;
            padding-top: 0px;
            padding-left: 0;
            position: absolute;
            right: -60px;
            top: 85px;
            border-radius: 5px;
            display: none;
            li {
               border-bottom: 1px solid rgba(255, 255, 255, 0.05);
               a {
                  color: #b2bac2;
                  padding: 10px 10px 15px 15px;
                  display: flex;
                  white-space: normal;
                  transform: 0.4s;
                  &:active,
                  &:focus,
                  &:hover {
                     background: rgba(255, 255, 255, 0.05);
                  }
                  i {
                     background: linear-gradient(
                        79deg,
                        #6345ed 0%,
                        #e039fd 100%
                     );
                     border-radius: 100px;
                     padding-top: 12px;
                     width: 40px;
                     height: 40px;
                     text-align: center;
                     margin-right: 10px;
                     color: #fff;
                  }
                  p {
                     margin-bottom: 0;
                     color: #fff;
                  }
                  span {
                     font-weight: 250;
                  }
               }
            }
            .clear-all {
               color: #e039fd;
               text-transform: uppercase;
               border-top: 1px solid rgba(255, 255, 255, 0.05);
               text-align: center;
               font-size: 12px;
               font-weight: 500;
               padding: 10px 10px 6px 15px;
               margin-bottom: 5px;
               position: absolute;
               bottom: 0;
               left: 0;
               a {
                  color: #e039fd;
               }
            }
         }
      }
   }
}
.rtl .navbar {
   .navbar-text {
      right: 0;
      left: 30px;
      .notification-panel .notification-dropdown {
         right: auto;
         left: -60px;
         li a i {
            margin-right: 0;
            margin-left: 10px;
         }
      }
      .profile {
         margin-left: 0;
      }
   }
}

// home section
.home-section {
   height: 100vh;
   background-image: url(../img/nft-bg4.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   .overlay {
      background: rgba(0, 0, 0, 0.2);
      background-image: url(../img/black-monkey.png);
      background-position: bottom left;
      background-repeat: no-repeat;
   }
   .text-box {
      h1 {
         color: #e039fd;
         text-shadow: 0 4px 7px #000;
         line-height: 1.3;
         letter-spacing: 2px;
         margin-bottom: 30px;
      }
      p {
         font-weight: 400;
         color: #fff;
         text-shadow: 0 4px 7px #000;
         margin-bottom: 30px;
         font-size: 18px;
         font-family: "AweSomE JouRneY", sans-serif;
      }
   }
}

// about section
.about-section {
   padding: 100px 0;
   .text-box {
      h2 {
         margin-bottom: 30px;
      }
      p {
         margin-bottom: 50px;
      }
      .btn-nft {
         i {
            font-size: 16px;
         }
      }
   }
}

// live auction
.live-auction {
   padding: 100px 0;
   .nft-box {
      background: rgba(100, 69, 237, 0.2);
      padding: 20px;
      border-radius: 20px;
      position: relative;
      bottom: 0;
      height: 100%;
      transition: 0.4s;
      .img-box {
         margin-bottom: 15px;
         position: relative;
         img {
            border-radius: 15px;
         }
         .react {
            position: absolute;
            top: 10px;
            right: 10px;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            border: none;
            padding: 3px 10px;
            border-radius: 10px;
            transition: 0.4s;
            i {
               font-size: 14px;
               margin-right: 5px;
            }
         }
         .timer {
            position: absolute;
            text-align: center;
            bottom: 10px;
            right: 0;
            left: 0;
            margin: auto;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            border: none;
            padding: 5px 10px;
            width: 150px;
            border-radius: 10px;
            i {
               font-size: 16px;
               margin-right: 5px;
            }
         }
         .btn-nft {
            position: absolute;
            text-align: center;
            bottom: -40px;
            top: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: 150px;
            height: 50px;
            opacity: 0;
            box-shadow: none;
            padding: 15px 0;
         }
      }
      .text-box {
         a.title {
            display: block;
            font-size: 18px;
            font-family: "Urbanist", sans-serif;
            font-weight: 700;
            color: #fff;
            transition: 0.4s;
            &:hover {
               color: #e039fd;
            }
         }
         .dot {
            padding-left: 15px;
            i {
               font-size: 16px;
               color: #b2bac2;
               transition: 0.4s;
            }
            &::after {
               display: none;
            }
            &:hover {
               i {
                  color: #e039fd;
               }
            }
         }
         .dropdown-menu {
            background: rgba(0, 0, 0, 0.8);
            min-width: 110px;
            .dropdown-item {
               color: #b2bac2;
               text-transform: capitalize;
               font-size: 14px;
               transition: 0.4s;
               i {
                  font-size: 14px;
                  margin-right: 5px;
               }
               &:hover {
                  background: none;
                  color: #e039fd;
               }
            }
         }
         p {
            color: #fff;
         }
         a.creator-name {
            display: block;
            color: #fff;
            transition: 0.4s;
            &:hover {
               color: #e039fd;
            }
         }
         .creator {
            img {
               width: 50px;
               border-radius: 10px;
            }
         }
      }
      &:hover {
         bottom: 10px;
         .btn-nft {
            opacity: 1;
            bottom: 0;
         }
      }
   }
}
.rtl .live-auction {
   .nft-box {
      .img-box .react i {
         margin-right: 0;
         margin-left: 5px;
      }
      .text-box {
         .creator img {
            margin-right: 0 !important;
            margin-left: 10px;
         }
         .dot {
            padding-left: 0;
         }
         .dropdown-menu .dropdown-item {
            text-align: right;
            i {
               margin-right: 0;
               margin-left: 5px;
            }
         }
         .text-end {
            text-align: left !important;
         }
      }
   }
}

// top creator
.top-creator {
   padding: 100px 0;
   .creator-box {
      background: rgba(100, 69, 237, 0.2);
      padding: 20px;
      border-radius: 20px;
      position: relative;
      bottom: 0;
      display: flex;
      transition: 0.4s;
      .img-box {
         img {
            width: 90px;
            height: 90px;
            border-radius: 10px;
         }
      }
      .text-box {
         margin-left: 15px;
         width: calc(100% - 90px);
         a.creator-name {
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
            font-family: "Urbanist", sans-serif;
            font-weight: 700;
            color: #fff;
            transition: 0.4s;
            &:hover {
               color: #e039fd;
            }
            i {
               font-size: 16px;
               color: #6345ed;
            }
         }
         p {
            color: #fff;
         }
      }
      &:hover {
         bottom: 10px;
      }
   }
}
.rtl .top-creator {
   .creator-box .text-box {
      margin-left: 0;
      margin-right: 15px;
   }
}

// how it works
.how-it-works {
   padding: 100px 0;
   .box {
      background: rgba(100, 69, 237, 0.2);
      padding: 20px;
      border-radius: 20px;
      position: relative;
      bottom: 0;
      text-align: center;
      transition: 0.4s;
      .img-box {
         margin-bottom: 15px;
         img {
            width: 150px;
            height: 150px;
         }
      }
      &:hover {
         bottom: 10px;
      }
   }
   .number-count {
      position: absolute;
      top: 20px;
      right: 20px;
      color: rgba(100, 69, 237, 0.2);
      font-family: "Urbanist", sans-serif;
      z-index: 1;
   }
}

// faq section
.faq-section {
   padding: 100px 0;
   .accordion-item {
      background: rgba(100, 69, 237, 0.2);
      border-radius: 20px;
      border: none;
      margin-bottom: 25px;
   }
   .accordion-button {
      background: none;
      border-radius: 20px !important;
      padding: 25px 30px;
      font-size: 18px;
      font-family: "Urbanist", sans-serif;
      font-weight: 700;
      color: #fff;
      &:focus {
         z-index: 3;
         border-color: #86b7fe;
         outline: 0;
         box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
      }
      &::after {
         background-image: url(../img/down-arrow.png);
      }
   }
   .accordion-body {
      padding: 0px 30px 30px 30px;
   }
   .accordion-button:not(.collapsed) {
      color: #e039fd;
      box-shadow: none;
   }
}
.rtl .faq-section .accordion-button::after {
   position: absolute;
   left: 20px;
}

// testimonial section
.testimonial-section {
   padding: 100px 0;
   direction: ltr;
   .review-box {
      background: rgba(100, 69, 237, 0.2);
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      bottom: 0;
      transition: 0.4s;
      text-align: center;
      padding: 20px;
      .img-box {
         margin-bottom: 15px;
         img {
            border-radius: 100px;
            width: 120px;
            height: 120px;
            margin: auto;
         }
      }
      .text-box {
         span {
            text-transform: capitalize;
            color: #b2bac2;
            position: relative;
            transition: 0.4s;
         }
      }
      .fa-quote-right {
         position: absolute;
         bottom: 30px;
         right: 30px;
         font-size: 24px;
         color: #e039fd;
      }
   }
}

// blog section
.blog-section {
   padding: 100px 0;
   .box {
      background: rgba(100, 69, 237, 0.2);
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      bottom: 0;
      transition: 0.4s;
      padding: 20px;
      .img-box {
         img {
            border-radius: 15px;
         }
      }
      &:hover {
         bottom: 10px;
      }
      .text-box {
         margin-top: 15px;
         .title {
            display: block;
            font-size: 18px;
            margin-bottom: 5px;
            font-family: "Urbanist", sans-serif;
            font-weight: 700;
            color: #fff;
            transition: 0.4s;
            &:hover {
               color: #e039fd;
            }
         }
         .date-author {
            margin-bottom: 15px;
            display: flex;
            span {
               margin-right: 30px;
               i {
                  font-size: 16px;
                  color: #e039fd;
                  margin-right: 5px;
               }
            }
         }
         .read-more {
            color: #b2bac2;
            position: relative;
            transition: 0.4s;
            left: 60px;
            &:before {
               content: "";
               position: absolute;
               width: 30px;
               height: 2px;
               background: #e039fd;
               left: -60px;
               top: 9px;
            }
            &:hover {
               color: #e039fd;
            }
         }
      }
   }
}
.rtl .blog-section {
   .box .text-box {
      .read-more {
         left: auto;
      }
      .date-author span {
         margin-right: 0;
         margin-left: 30px;
         i {
            margin-right: 0;
            margin-left: 5px;
         }
      }
   }
}

// footer section
.footer-section {
   padding: 100px 0 0 0;
   background: rgba(100, 69, 237, 0.2);
   background: rgba(0, 0, 0, 0.4);
   .box {
      .navbar-brand {
         font-family: "AweSomE JouRneY", sans-serif;
         font-size: 32px;
         color: #fff;
         padding: 0;
         display: inline-block;
         margin-bottom: 30px;
      }
      .social-links {
         margin-top: 20px;
         a {
            color: #e039fd;
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 15px;
            border-radius: 10px;
            padding-top: 14px;
            text-align: center;
            background: rgba(100, 69, 237, 0.2);
            transition: 0.4s;
            i {
               font-size: 16px;
               transition: 0.4s;
               &:hover {
                  color: #e039fd;
               }
            }
         }
      }
      h5 {
         text-transform: capitalize;
         margin-bottom: 30px;
      }
      p {
         margin-bottom: 10px;
      }
      .links {
         margin-bottom: 0;
         padding-left: 0;
         list-style: none;
         li {
            margin-bottom: 10px;
            a {
               text-transform: capitalize;
               color: #b2bac2;
               transition: 0.4s;
               &:hover {
                  color: #e039fd;
               }
            }
         }
      }
      .input-group {
         border-radius: 10px;
         overflow: hidden;
         margin-bottom: 0px;
         .form-control {
            font-size: 14px;
            font-weight: normal;
            height: 50px;
            border: none;
            background: rgba(100, 69, 237, 0.2);
            color: #fff;
            caret-color: #e039fd;
            padding-left: 20px;
            &:focus {
               box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
            }
            &::placeholder {
               text-transform: capitalize;
               color: #b2bac2;
            }
         }
         button {
            width: 50px;
            border: none;
            background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
            i {
               color: #fff;
               font-size: 16px;
            }
         }
      }
   }
   .box1 {
      margin-top: -25px;
   }
   .copyright {
      margin-top: 100px;
      padding-bottom: 30px;
      a {
         color: #b2bac2;
         margin: 0 7.5px;
         transition: 0.4s;
         &:hover {
            color: #e039fd;
         }
      }
   }
}

// scroll up
.scroll-up {
   position: fixed;
   bottom: 50px;
   right: 50px;
   i {
      color: #fff;
      height: 50px;
      width: 50px;
      background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
      border-radius: 10px;
      text-align: center;
      padding-top: 16px;
   }
}

// pre loader
#preloader {
   background: #3c0f60;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   -webkit-transition: 0.4s;
   transition: 0.4s;
   z-index: 1100;
   .loader {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 200px;
   }
}

// connect wallet modal
.connect-wallet-modal {
   background: url(../img/body-bg2.png);
   background-position: bottom;
   border-radius: 20px;
   padding: 20px;
   text-align: center;
   .dismiss-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      i {
         color: #b2bac2;
         transition: 0.4s;
         &:hover {
            color: #e039fd;
         }
      }
   }
   h5.header {
      font-weight: 400;
      color: #fff;
      margin-bottom: 20px;
      font-family: "AweSomE JouRneY", sans-serif;
   }
   .box {
      border: 5px solid rgba(100, 69, 237, 0.2);
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 15px;
      transition: 0.4s;
      img {
         width: 50px;
      }
   }
}

// banner
.banner {
   padding: 141px 0 100px 0;
   background-image: url(../img/nft-bg4.png);
   background-position: center;
   h2 {
      margin-bottom: 0;
   }
}

// contact section
.contact-section {
   padding: 100px 0;
   .contact-box {
      display: flex;
      margin-bottom: 30px;
      .icon-box {
         margin-right: 15px;
         i {
            font-size: 18px;
            color: #e039fd;
            background: rgba(100, 69, 237, 0.2);
            border-radius: 20px;
            text-align: center;
            padding-top: 30px;
            width: 75px;
            height: 75px;
         }
      }
   }
   form {
      .input-field {
         label {
            font-weight: 500;
            margin-bottom: 10px;
            text-transform: capitalize;
            display: none;
         }
         .form-select,
         .form-control {
            height: 55px;
            border-radius: 10px;
            background-color: rgba(100, 69, 237, 0.2);
            border: none;
            padding: 15px;
            font-size: 14px;
            font-weight: normal;
            caret-color: #e039fd;
            color: #b2bac2;
            &:focus {
               color: #fff;
               box-shadow: 0 0 0 0rem #fff;
            }
            &::placeholder {
               color: #b2bac2;
            }
         }
         .form-select {
            background-image: url(../img/icon/downward-arrow.png);
         }
         option {
            background: #6345ed;
            color: #fff;
            transition: 0.3s;
         }
         textarea.form-control {
            height: 150px;
            border-radius: 10px;
         }
      }
      .btn-nft {
         box-shadow: none;
         i {
            position: relative;
            top: 2px;
         }
      }
   }
}
.rtl .contact-section {
   .contact-box {
      .icon-box {
         margin-right: 0;
         margin-left: 15px;
      }
   }
}

// blog details
.blog-details {
   padding: 100px 0;
   .img-box {
      margin-bottom: 15px;
      img {
         border-radius: 10px;
      }
   }
   .blog-box {
      margin-bottom: 50px;
      &:last-child {
         margin-bottom: 0;
      }
      .text-box {
         .date-author {
            margin-bottom: 15px;
            display: flex;
            span {
               margin-right: 30px;
               i {
                  font-size: 16px;
                  color: #e039fd;
                  margin-right: 5px;
               }
            }
         }
         .continue-reading {
            text-transform: capitalize;
            color: #e039fd;
            font-style: italic;
         }
      }
   }
   .side-box {
      background: rgba(100, 69, 237, 0.2);
      padding: 30px;
      margin-bottom: 30px;
      border-radius: 10px;
      h5 {
         text-transform: capitalize;
      }
      .post-box {
         display: flex;
         .img {
            width: 35%;
         }
         .text {
            width: 65%;
            padding-left: 15px;
            h5 {
               margin-bottom: 10px;
               text-transform: capitalize;
            }
            p {
               margin-bottom: 0;
            }
         }
      }
      .links {
         margin-bottom: 0;
         padding-left: 0;
         list-style: none;
         li {
            margin-bottom: 10px;
            a {
               color: #b2bac2;
               text-transform: capitalize;
               transition: 0.3s;
               &:hover {
                  color: #e039fd;
               }
            }
            &:last-child {
               margin-bottom: 0;
            }
         }
      }
   }

   .input-group {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 0px;
      .form-control {
         font-size: 14px;
         font-weight: normal;
         height: 50px;
         border: none;
         background: rgba(100, 69, 237, 0.2);
         color: #fff;
         caret-color: #e039fd;
         padding-left: 20px;
         &:focus {
            box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
         }
         &::placeholder {
            text-transform: capitalize;
            color: #b2bac2;
         }
      }
      button {
         width: 50px;
         border: none;
         background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
         i {
            color: #fff;
            font-size: 16px;
         }
      }
   }
}
.rtl .blog-details {
   .blog-box .text-box {
      .date-author span {
         margin-right: 0;
         margin-left: 30px;
         i {
            margin-right: 0;
            margin-left: 5px;
         }
      }
   }
}

// pagination
.pagination {
   border-radius: 10px;
   overflow: hidden;
   .page-link {
      border: none;
      background: rgba(100, 69, 237, 0.2);
      color: #b2bac2;
      text-align: center;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 10px !important;
   }
   .page-item:hover .page-link,
   .page-item.active .page-link {
      background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
      color: #fff;
   }
   .page-item.disabled .page-link {
      background: rgba(100, 69, 237, 0.2);
      color: #b2bac2;
   }
   .page-link:focus {
      box-shadow: 0 0 0 0rem rgba(13, 109, 253, 0.211);
   }
}
.rtl .pagination {
   .page-item:first-child {
      .page-link {
         margin: 0;
      }
   }
}

// filter area
form.filter {
   margin-bottom: 50px;
   .input-field {
      display: flex;
      column-gap: 25px;
      .form-select,
      .form-control {
         height: 55px;
         max-width: 306px;
         border-radius: 10px;
         background-color: rgba(100, 69, 237, 0.2);
         border: none;
         padding: 15px;
         font-size: 14px;
         font-weight: normal;
         caret-color: #e039fd;
         color: #b2bac2;
         &:focus {
            color: #fff;
            box-shadow: 0 0 0 0rem #fff;
         }
         &::placeholder {
            color: #b2bac2;
         }
      }
      .form-select {
         background-image: url(../img/icon/downward-arrow.png);
      }
      option {
         background: #6345ed;
         color: #fff;
         transition: 0.3s;
      }
      textarea.form-control {
         height: 150px;
         border-radius: 10px;
      }
   }
   .btn-nft {
      box-shadow: none;
      i {
         position: relative;
         top: 2px;
      }
   }
}

// nft creators
.nft-creators {
   padding: 100px 0;
   .creator-box {
      background: rgba(100, 69, 237, 0.2);
      padding: 20px;
      border-radius: 20px;
      text-align: center;
      position: relative;
      bottom: 0;
      transition: 0.4s;
      &:hover {
         bottom: 10px;
      }
      .img-box {
         .cover {
            height: 120px;
            width: 100%;
            border-radius: 15px;
         }
         .profile {
            height: 100px;
            width: 100px;
            border-radius: 100px;
            margin-top: -50px;
            margin-bottom: 15px;
         }
      }
      .text-box {
         a.creator-name {
            margin-bottom: 0px;
            display: block;
            font-size: 18px;
            font-family: "Urbanist", sans-serif;
            font-weight: 700;
            color: #fff;
            transition: 0.4s;
            i {
               font-size: 16px;
               color: #6345ed;
            }
            &:hover {
               color: #e039fd;
            }
         }
         .btn-nft {
            height: 45px;
            font-size: 12px;
            box-shadow: none;
            padding: 12px 0;
            i {
               font-size: 14px;
            }
         }
      }
   }
}

// nft details
.nft-details {
   padding: 100px 0;
   .img-box {
      img {
         border-radius: 10px;
      }
   }
   .text-box {
      .btn-group {
         margin-bottom: 30px;
         width: 100%;
         display: flex;
         justify-content: space-between;
         .react {
            background: rgba(100, 69, 237, 0.2);
            color: #fff;
            border: none;
            padding: 5px 10px;
            font-weight: 300;
            border-radius: 10px;
            font-size: 14px;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            i {
               position: relative;
               top: 2px;
               font-size: 16px;
               margin-right: 5px;
            }
            &:hover {
               color: #e039fd;
            }
         }
      }
      .owners {
         column-gap: 25px;
         .box {
            background: rgba(100, 69, 237, 0.2);
            padding: 10px;
            border-radius: 20px;
            display: flex;
            width: 100%;
            align-items: center;
            img {
               width: 50px;
               height: 50px;
               border-radius: 10px;
               margin-right: 10px;
            }
            a.creator-name {
               display: block;
               color: #fff;
               transition: 0.4s;
               &:hover {
                  color: #e039fd;
               }
            }
            p {
               color: #fff;
               span {
                  font-size: 12px;
               }
            }
            span {
               color: #b2bac2;
            }
         }
      }
      .prices {
         .box {
            padding: 10px 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
         }
      }
      .btn-nft {
         height: 45px;
         width: 100%;
         margin-top: 30px;
         padding-top: 13px;
         font-size: 12px;
         box-shadow: none;
      }
   }
   .navigator {
      margin-top: 30px;
      margin-bottom: 15px;
      background: rgba(100, 69, 237, 0.2);
      padding: 10px;
      border-radius: 15px;
      display: flex;
      column-gap: 10px;
      button {
         color: #b2bac2;
         padding: 10px;
         border-radius: 10px;
         text-transform: capitalize;
         transition: 0.3s;
         &:hover,
         &.active {
            background: rgba(100, 69, 237, 0.2);
            color: #e039fd;
         }
      }
   }
   .content {
      padding: 10px;
      display: none;
      .wrapper {
         border-radius: 20px;
         display: flex;
         width: 100%;
         justify-content: space-between;
      }
      .box {
         display: flex;
         align-items: center;
         margin-bottom: 15px;
         img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-right: 10px;
         }
         p {
            color: #b2bac2;
            margin-bottom: 0;
            span {
               color: #fff;
            }
         }
         span.date {
            color: #b2bac2;
            font-size: 12px;
         }
      }
      .box2 {
         p {
            color: #fff;
         }
      }
   }
   .additional-info {
      ul {
         list-style: none;
         padding-left: 0;
         li {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
         }
      }
   }
   .content.active {
      display: block;
   }
}
.rtl .nft-details {
   .text-box {
      .btn-group {
         .react {
            i {
               margin-right: 0;
               margin-left: 5px;
            }
         }
      }
      .owners .box img {
         margin-right: 0;
         margin-left: 10px;
      }
   }
   .content .box img {
      margin-right: 0;
      margin-left: 10px;
   }
}

// profile section
.profile-section {
   padding: 100px 0 50px 0;
   .cover-wrapper {
      position: relative;
      padding: 50px;
      background-color: rgba(100, 69, 237, 0.2);
      border-radius: 20px;
   }
   .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 20px;
      display: none;
   }
   .about {
      .profile {
         width: 200px;
         height: 200px;
         border-radius: 10px;
         margin-right: 15px;
      }
      .name {
         i {
            color: #6345ed;
         }
      }
      .bio {
         color: #fff;
      }
      .links {
         a {
            display: block;
            color: #fff;
            margin-bottom: 15px;
            transition: 0.4s;
            &:hover {
               color: #e039fd;
            }
            &:last-child {
               margin-bottom: 0;
            }
            i {
               margin-right: 10px;
               font-size: 16px;
               color: #e039fd;
            }
         }
      }
   }
   .right-wrapper {
      position: relative;
      height: 100%;
      .button-group {
         text-align: right;
         button {
            background-color: rgba(100, 69, 237, 0.2);
            padding: 14px 17px;
            border-radius: 10px;
            color: #fff;
            i {
               font-size: 16px;
            }
         }
         .btn-nft {
            height: 50.5px;
            padding: 14px 0;
            text-transform: capitalize;
            color: #fff;
            box-shadow: none;
            i {
               font-size: 16px;
               position: relative;
               top: 2px;
            }
         }
         .user-id {
            i {
               margin-left: 5px;
            }
         }
      }
      .social-links {
         margin-top: 15px;
         text-align: right;
         a {
            color: #e039fd;
            display: inline-block;
            width: 45px;
            height: 45px;
            border-radius: 10px;
            padding-top: 12px;
            text-align: center;
            background: rgba(100, 69, 237, 0.2);
            transition: 0.4s;
            i {
               font-size: 16px;
               transition: 0.4s;
               &:hover {
                  color: #e039fd;
               }
            }
         }
      }
      .counts {
         position: absolute;
         bottom: 0;
         display: flex;
         width: 100%;
         justify-content: space-between;
         text-align: center;
         .count {
            span {
               display: block;
               color: #fff;
            }
         }
      }
   }
}
.rtl .profile-section {
   .about {
      .profile {
         margin-right: 0;
         margin-left: 15px;
      }
      .links a i {
         margin-right: 0;
         margin-left: 10px;
      }
   }
   .right-wrapper {
      .button-group,
      .social-links {
         text-align: left;
      }
   }
}

.author-artworks {
   margin-bottom: 100px;
   .navigator {
      margin-bottom: 15px;
      background: rgba(100, 69, 237, 0.2);
      padding: 10px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
      button {
         color: #b2bac2;
         padding: 10px 20px;
         border-radius: 5px;
         text-transform: capitalize;
         transition: 0.3s;
         &:hover,
         &.active {
            background: rgba(100, 69, 237, 0.2);
            color: #e039fd;
         }
      }
   }
}

// user panel
.user-panel {
   padding: 100px 0;
   .sidebar-wrapper {
      background: rgba(100, 69, 237, 0.2);
      border-radius: 20px;
      padding: 20px;
      .cover {
         width: 100%;
         position: relative;
         img {
            border-radius: 10px;
            height: 200px;
            width: 100%;
         }
      }
      .profile {
         margin-top: -75px;
         margin-left: 20px;
         display: flex;
         align-items: flex-end;
         .img {
            position: relative;
            margin-right: 20px;
            height: 150px;
            width: 150px;
            img {
               border-radius: 10px;
               border-radius: 10px;
            }
         }
         h5 {
            i {
               font-size: 16px;
               color: #6345ed;
            }
         }
      }
      .upload-img {
         padding: 8px 12px;
         border-radius: 5px;
         position: absolute;
         bottom: 10px;
         right: 10px;
         background: rgba(0, 0, 0, 0.8);
         transition: 0.4s;
         color: #b2bac2;
         i {
            font-size: 16px;
         }
         &:hover {
            color: #e039fd;
         }
         input {
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            cursor: pointer !important;
         }
      }
      .sidebar {
         margin-top: 20px;
         padding: 20px;
         a {
            display: block;
            color: #fff;
            margin-bottom: 15px;
            text-transform: capitalize;
            transition: 0.4s;
            &:last-child {
               margin-bottom: 0;
            }
            &.active,
            &:hover {
               color: #e039fd;
            }
            i {
               margin-right: 15px;
               font-size: 16px;
               position: relative;
               top: 2px;
            }
         }
      }
   }
   form {
      .input-field {
         label {
            font-weight: 400;
            margin-bottom: 10px;
            text-transform: capitalize;
            color: #fff;
         }
         .form-select,
         .form-control {
            height: 55px;
            border-radius: 10px;
            background-color: rgba(100, 69, 237, 0.2);
            border: none;
            padding: 17px;
            font-size: 14px;
            font-weight: normal;
            caret-color: #e039fd;
            color: #b2bac2;
            &:focus {
               color: #fff;
               box-shadow: 0 0 0 0rem #fff;
            }
            &::placeholder {
               color: #b2bac2;
            }
         }
         .form-select {
            background-image: url(../img/icon/downward-arrow.png);
         }
         .attach-file {
            position: relative;
            span.prev {
               position: absolute;
               left: 0px;
               top: 0;
               bottom: 0;
               margin: auto;
               width: 110px;
               background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
               text-align: center;
               color: #fff;
               text-transform: capitalize;
               padding: 16px;
            }
         }
         option {
            background: #6345ed;
            color: #fff;
            transition: 0.3s;
         }
         textarea.form-control {
            height: 150px;
            border-radius: 10px;
         }
      }
      .btn-nft {
         box-shadow: none;
         i {
            position: relative;
            top: 2px;
         }
      }
   }
}

.rtl .user-panel {
   .sidebar-wrapper {
      .profile {
         margin-left: 0;
         .img {
            margin-left: 20px;
         }
      }
      .sidebar a i {
         margin-right: 0;
         margin-left: 15px;
      }
   }
}

// art ranking table
.art-ranking {
   padding: 100px 0;
   .table {
      color: #b2bac2;
      margin-bottom: 0;
      tbody > tr:nth-of-type(even) > * {
         --bs-table-accent-bg: #3c0f60;
         color: #b2bac2;
      }
      tbody > tr:nth-of-type(odd) > * {
         --bs-table-accent-bg: transparent;
         color: #b2bac2;
      }
      thead {
         background: #3c0f60;
         color: #fff;
         text-transform: capitalize;
      }
      tbody {
         border: none;
      }
      tr {
         border: none;
         th {
            font-weight: 500;
            border: none !important;
            padding: 20px;
            &:first-child {
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
            }
            &:last-child {
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
            }
         }
         td {
            padding: 20px;
            color: #b2bac2;
            border: none !important;
            text-transform: capitalize;
            margin: 5px !important;
            img {
               width: 60px;
               height: 60px;
               border-radius: 5px;
            }
            &:first-child {
               border-top-left-radius: 5px;
               border-bottom-left-radius: 5px;
            }
            &:last-child {
               border-top-right-radius: 5px;
               border-bottom-right-radius: 5px;
            }
         }
      }
   }
}

// modal
.modal {
   .modal-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      i {
         color: #b2bac2;
         transition: 0.4s;
         &:hover {
            color: #e039fd;
         }
      }
   }
   .modal-content {
      background: #3c0f60;
      color: #b2bac2;
      .btn-nft {
         padding: 15px 20px;
         width: auto;
         height: 50px;
         text-transform: capitalize;
         box-shadow: none;
         i {
            font-size: 16px;
         }
      }
   }
   .modal-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
   }
}

@media (max-width: 991px) {
   .navbar {
      background: url(../img/body-bg2.png);
      background-size: cover;
      background-position: center top;
      padding: 15px 0px;
      .nav-item {
         text-align: center;
      }
      .navbar-text {
         position: absolute;
         top: 0px;
         right: 50px;
         .btn-ico {
            width: 45px;
            height: 45px;
            padding-left: 5px;
            text-align: center;
            box-shadow: none;
            span {
               display: none;
            }
         }
         .profile img {
            width: 45px;
            height: 45px;
            position: relative;
            top: 0px;
         }
         .search i {
            font-size: 20px;
         }
         .wallet,
         .notification-panel,
         .profile {
            margin-left: 0;
         }
         .wallet {
            width: 45px;
            padding-top: 5px;
            position: relative;
            top: 0px;
            span {
               display: none;
            }
            i {
               margin: 0;
            }
         }
      }
   }
   .rtl .navbar {
      .navbar-brand {
         margin-right: 40px;
      }
      .navbar-text {
         position: absolute;
         top: 2px;
         right: auto !important;
         left: 15px !important;
      }
   }
   .profile-section .cover-wrapper {
      padding: 20px;
      .right-wrapper {
         .social-links {
            margin: 15px 0;
         }
         .counts {
            position: relative;
         }
      }
   }
}
@media (max-width: 767px) {
   h1 {
      font-size: 48px;
   }
   h2 {
      font-size: 36px;
   }
   .home-section .overlay {
      background: rgba(0, 0, 0, 0.2);
   }
   .profile-section {
      .cover-wrapper {
         text-align: center;
         .about .profile {
            margin: 0;
            margin-bottom: 15px;
         }
         .right-wrapper .button-group .btn-nft {
            margin-top: 15px;
         }
         .right-wrapper {
            .button-group,
            .social-links {
               text-align: center;
            }
         }
      }
   }
   .user-panel {
      .sidebar-wrapper {
         .profile {
            display: block;
            text-align: center;
            .img {
               margin: auto;
               margin-bottom: 15px;
               width: 120px;
               height: 120px;
            }
         }
         .sidebar {
            padding: 0;
         }
      }
   }
   .rtl .user-panel .sidebar-wrapper .profile .img {
      margin-left: auto;
   }
}
@media (max-width: 575px) {
   .home-section {
      height: 120vh;
      .text-box h1 {
         font-size: 36px;
      }
   }
   form.filter .input-field {
      column-gap: 5px;
   }
   .nft-details .text-box .owners {
      column-gap: 10px;
      .box {
         padding: 10px 10px;
      }
   }
   .author-artworks .navigator {
      display: inline-block;
   }
}
