@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "AweSomE JouRneY";
  font-style: normal;
  font-weight: 400;
  src: local("AweSomE JouRneY"), url("../fonts/AweSomE_JouRneY.otf") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Sofia Pro"), url("../fonts/Sofia_Pro_Regular_Az.otf") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Sofia Pro"), url("../fonts/Sofia_Pro_Light_Az.otf") format("woff");
}

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Sofia Pro"), url("../fonts/Sofia_Pro_Medium_Az.otf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../img/body-bg.png);
  background-size: cover;
  background-position: center top;
  font-family: "Sofia Pro", sans-serif;
  color: #b2bac2;
  font-weight: 300;
  font-size: 15px;
}

body.rtl {
  direction: rtl;
  overflow-x: hidden;
}

body.rtl .form-select {
  background-position-x: 12px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #b2bac2;
  -webkit-box-shadow: 0 0 0px 1000px rgba(100, 69, 237, 0.2) inset;
          box-shadow: 0 0 0px 1000px rgba(100, 69, 237, 0.2) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
}

h1 {
  font-size: 64px;
  font-family: "AweSomE JouRneY", sans-serif;
}

h2 {
  font-size: 48px;
  font-family: "AweSomE JouRneY", sans-serif;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0rem black;
          box-shadow: 0 0 0 0rem black;
}

button {
  background: none;
  border: none;
  padding: 0;
}

i {
  font-size: 18px;
}

.btn-nft {
  width: 175px;
  height: 55px;
  display: inline-block;
  text-align: center;
  padding: 18px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  background-size: 200% auto;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
  color: #fff;
  border: none;
  border-radius: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
}

.btn-nft i {
  margin-right: 10px;
}

.btn-nft:hover {
  color: #fff;
}

.rtl .btn-nft i {
  margin-right: 0;
  margin-left: 10px;
}

.navbar {
  padding: 12px 15px;
}

.navbar .navbar-brand {
  font-family: "AweSomE JouRneY", sans-serif;
  font-size: 32px;
  color: #fff;
  display: inline-block;
  width: 177px;
}

.navbar .navbar-toggler {
  position: absolute;
  right: 15px;
  top: 31px;
}

.navbar .navbar-toggler i {
  color: #fff;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .navbar-toggler i:hover {
  color: #e039fd;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0rem;
          box-shadow: 0 0 0 0rem;
}

.navbar .nav-item {
  margin: 0 15px;
}

.navbar .nav-item .nav-link {
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover {
  color: #e039fd;
}

.navbar .navbar-text .search {
  background: none;
  border: none;
  position: relative;
}

.navbar .navbar-text .search i {
  font-size: 18px;
  color: #fff;
}

.navbar .navbar-text .btn-nft {
  width: 50px;
  height: 50px;
  padding: 14px 0;
  padding-left: 10px;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-text .btn-nft span {
  display: none;
}

.navbar .navbar-text .profile {
  margin-left: 5px;
}

.navbar .navbar-text .profile img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.navbar.active {
  background: url(../img/body-bg2.png);
  background-size: cover;
  background-position: center top;
}

.navbar .notification-panel {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 12px;
}

.navbar .notification-panel:hover .notification-dropdown {
  display: block;
}

.navbar .notification-panel .dropdown-toggle::after {
  display: none;
}

.navbar .notification-panel .dropdown-toggle i {
  color: #fff;
  font-size: 20px;
}

.navbar .notification-panel .dropdown-box {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.navbar .notification-panel .dropdown-box::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

.navbar .notification-panel .dropdown-box::-webkit-scrollbar-track {
  background: rgba(59, 15, 96, 0.1);
  border-radius: 100px;
}

.navbar .notification-panel .dropdown-box::-webkit-scrollbar-thumb {
  background: rgba(100, 69, 237, 0.6);
  border-radius: 6px;
}

.navbar .notification-panel .dropdown-box::-webkit-scrollbar-thumb:hover {
  background: #e039fd;
}

.navbar .notification-panel .notification-dropdown {
  background: #3c0f60;
  width: 290px;
  height: 324px;
  overflow: hidden;
  padding-bottom: 40px;
  padding-top: 0px;
  padding-left: 0;
  position: absolute;
  right: -104px;
  top: 50px;
  border-radius: 5px;
  display: none;
}

.navbar .notification-panel .notification-dropdown li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar .notification-panel .notification-dropdown li a {
  color: #b2bac2;
  padding: 10px 10px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: normal;
}

.navbar .notification-panel .notification-dropdown li a:active, .navbar .notification-panel .notification-dropdown li a:focus, .navbar .notification-panel .notification-dropdown li a:hover {
  background: none;
}

.navbar .notification-panel .notification-dropdown li a i {
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
}

.navbar .notification-panel .notification-dropdown li a p {
  margin-bottom: 0;
  color: #fff;
}

.navbar .notification-panel .notification-dropdown li a span {
  font-weight: 250;
}

.navbar .notification-panel .notification-dropdown .clear-all {
  background: #3c0f60;
  color: #e039fd;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 10px 6px 15px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar .notification-panel .notification-dropdown .clear-all a {
  color: #e039fd;
}

.home-section {
  height: 100vh;
  background-image: url(../img/nft-bg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.home-section .overlay {
  background: rgba(0, 0, 0, 0.2);
  background-image: url(../img/black-monkey.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.home-section .text-box h1 {
  color: #e039fd;
  text-shadow: 0 4px 7px #000;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.home-section .text-box p {
  font-weight: 400;
  color: #fff;
  text-shadow: 0 4px 7px #000;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "AweSomE JouRneY", sans-serif;
}

.about-section {
  padding: 100px 0;
}

.about-section .text-box h2 {
  margin-bottom: 30px;
}

.about-section .text-box p {
  margin-bottom: 50px;
}

.about-section .text-box .btn-nft i {
  font-size: 16px;
}

.live-auction {
  padding: 100px 0;
}

.live-auction .nft-box {
  background: rgba(100, 69, 237, 0.2);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 0;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .img-box {
  margin-bottom: 15px;
  position: relative;
}

.live-auction .nft-box .img-box img {
  border-radius: 15px;
}

.live-auction .nft-box .img-box .react {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .img-box .react i {
  font-size: 14px;
  margin-right: 5px;
}

.live-auction .nft-box .img-box .timer {
  position: absolute;
  text-align: center;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 5px 10px;
  width: 150px;
  border-radius: 10px;
}

.live-auction .nft-box .img-box .timer i {
  font-size: 16px;
  margin-right: 5px;
}

.live-auction .nft-box .img-box .btn-nft {
  position: absolute;
  text-align: center;
  bottom: -40px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 50px;
  opacity: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 15px 0;
}

.live-auction .nft-box .text-box a.title {
  display: block;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .text-box a.title:hover {
  color: #e039fd;
}

.live-auction .nft-box .text-box .dot {
  padding-left: 15px;
}

.live-auction .nft-box .text-box .dot i {
  font-size: 16px;
  color: #b2bac2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .text-box .dot::after {
  display: none;
}

.live-auction .nft-box .text-box .dot:hover i {
  color: #e039fd;
}

.live-auction .nft-box .text-box .dropdown-menu {
  background: rgba(0, 0, 0, 0.8);
  min-width: 110px;
}

.live-auction .nft-box .text-box .dropdown-menu .dropdown-item {
  color: #b2bac2;
  text-transform: capitalize;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .text-box .dropdown-menu .dropdown-item i {
  font-size: 14px;
  margin-right: 5px;
}

.live-auction .nft-box .text-box .dropdown-menu .dropdown-item:hover {
  background: none;
  color: #e039fd;
}

.live-auction .nft-box .text-box p {
  color: #fff;
}

.live-auction .nft-box .text-box a.creator-name {
  display: block;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .text-box a.creator-name:hover {
  color: #e039fd;
}

.live-auction .nft-box .text-box .creator img {
  width: 50px;
  border-radius: 10px;
}

.live-auction .nft-box:hover {
  bottom: 10px;
}

.live-auction .nft-box:hover .btn-nft {
  opacity: 1;
  bottom: 0;
}

.rtl .live-auction .nft-box .img-box .react i {
  margin-right: 0;
  margin-left: 5px;
}

.rtl .live-auction .nft-box .text-box .creator img {
  margin-right: 0 !important;
  margin-left: 10px;
}

.rtl .live-auction .nft-box .text-box .dot {
  padding-left: 0;
}

.rtl .live-auction .nft-box .text-box .dropdown-menu .dropdown-item {
  text-align: right;
}

.rtl .live-auction .nft-box .text-box .dropdown-menu .dropdown-item i {
  margin-right: 0;
  margin-left: 5px;
}

.rtl .live-auction .nft-box .text-box .text-end {
  text-align: left !important;
}

.top-creator {
  padding: 100px 0;
}

.top-creator .creator-box {
  background: rgba(100, 69, 237, 0.2);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.top-creator .creator-box .img-box img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.top-creator .creator-box .text-box {
  margin-left: 15px;
  width: calc(100% - 90px);
}

.top-creator .creator-box .text-box a.creator-name {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.top-creator .creator-box .text-box a.creator-name:hover {
  color: #e039fd;
}

.top-creator .creator-box .text-box a.creator-name i {
  font-size: 16px;
  color: #6345ed;
}

.top-creator .creator-box .text-box p {
  color: #fff;
}

.top-creator .creator-box:hover {
  bottom: 10px;
}

.rtl .top-creator .creator-box .text-box {
  margin-left: 0;
  margin-right: 15px;
}

.how-it-works {
  padding: 100px 0;
}

.how-it-works .box {
  background: rgba(100, 69, 237, 0.2);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 0;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.how-it-works .box .img-box {
  margin-bottom: 15px;
}

.how-it-works .box .img-box img {
  width: 150px;
  height: 150px;
}

.how-it-works .box:hover {
  bottom: 10px;
}

.how-it-works .number-count {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgba(100, 69, 237, 0.2);
  font-family: "Urbanist", sans-serif;
  z-index: 1;
}

.faq-section {
  padding: 100px 0;
}

.faq-section .accordion-item {
  background: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
  border: none;
  margin-bottom: 25px;
}

.faq-section .accordion-button {
  background: none;
  border-radius: 20px !important;
  padding: 25px 30px;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
}

.faq-section .accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.faq-section .accordion-button::after {
  background-image: url(../img/down-arrow.png);
}

.faq-section .accordion-body {
  padding: 0px 30px 30px 30px;
}

.faq-section .accordion-button:not(.collapsed) {
  color: #e039fd;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rtl .faq-section .accordion-button::after {
  position: absolute;
  left: 20px;
}

.testimonial-section {
  padding: 100px 0;
  direction: ltr;
}

.testimonial-section .review-box {
  background: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  padding: 20px;
}

.testimonial-section .review-box .img-box {
  margin-bottom: 15px;
}

.testimonial-section .review-box .img-box img {
  border-radius: 100px;
  width: 120px;
  height: 120px;
  margin: auto;
}

.testimonial-section .review-box .text-box span {
  text-transform: capitalize;
  color: #b2bac2;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.testimonial-section .review-box .fa-quote-right {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 24px;
  color: #e039fd;
}

.blog-section {
  padding: 100px 0;
}

.blog-section .box {
  background: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 20px;
}

.blog-section .box .img-box img {
  border-radius: 15px;
}

.blog-section .box:hover {
  bottom: 10px;
}

.blog-section .box .text-box {
  margin-top: 15px;
}

.blog-section .box .text-box .title {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blog-section .box .text-box .title:hover {
  color: #e039fd;
}

.blog-section .box .text-box .date-author {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-section .box .text-box .date-author span {
  margin-right: 30px;
}

.blog-section .box .text-box .date-author span i {
  font-size: 16px;
  color: #e039fd;
  margin-right: 5px;
}

.blog-section .box .text-box .read-more {
  color: #b2bac2;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 60px;
}

.blog-section .box .text-box .read-more:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #e039fd;
  left: -60px;
  top: 9px;
}

.blog-section .box .text-box .read-more:hover {
  color: #e039fd;
}

.rtl .blog-section .box .text-box .read-more {
  left: auto;
}

.rtl .blog-section .box .text-box .date-author span {
  margin-right: 0;
  margin-left: 30px;
}

.rtl .blog-section .box .text-box .date-author span i {
  margin-right: 0;
  margin-left: 5px;
}

.footer-section {
  padding: 100px 0 0 0;
  background: rgba(100, 69, 237, 0.2);
  background: rgba(0, 0, 0, 0.4);
}

.footer-section .box .navbar-brand {
  font-family: "AweSomE JouRneY", sans-serif;
  font-size: 32px;
  color: #fff;
  padding: 0;
  display: inline-block;
  margin-bottom: 30px;
}

.footer-section .box .social-links {
  margin-top: 20px;
}

.footer-section .box .social-links a {
  color: #e039fd;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 10px;
  padding-top: 14px;
  text-align: center;
  background: rgba(100, 69, 237, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .box .social-links a i {
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .box .social-links a i:hover {
  color: #e039fd;
}

.footer-section .box h5 {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.footer-section .box p {
  margin-bottom: 10px;
}

.footer-section .box .links {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer-section .box .links li {
  margin-bottom: 10px;
}

.footer-section .box .links li a {
  text-transform: capitalize;
  color: #b2bac2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .box .links li a:hover {
  color: #e039fd;
}

.footer-section .box .input-group {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0px;
}

.footer-section .box .input-group .form-control {
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  border: none;
  background: rgba(100, 69, 237, 0.2);
  color: #fff;
  caret-color: #e039fd;
  padding-left: 20px;
}

.footer-section .box .input-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.footer-section .box .input-group .form-control::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.footer-section .box .input-group .form-control:-ms-input-placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.footer-section .box .input-group .form-control::-ms-input-placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.footer-section .box .input-group .form-control::placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.footer-section .box .input-group button {
  width: 50px;
  border: none;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
}

.footer-section .box .input-group button i {
  color: #fff;
  font-size: 16px;
}

.footer-section .box1 {
  margin-top: -25px;
}

.footer-section .copyright {
  margin-top: 100px;
  padding-bottom: 30px;
}

.footer-section .copyright a {
  color: #b2bac2;
  margin: 0 7.5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .copyright a:hover {
  color: #e039fd;
}

.scroll-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.scroll-up i {
  color: #fff;
  height: 50px;
  width: 50px;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
  border-radius: 10px;
  text-align: center;
  padding-top: 16px;
}

#preloader {
  background: #3c0f60;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 1100;
}

#preloader .loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 200px;
}

.connect-wallet-modal {
  background: url(../img/body-bg2.png);
  background-position: bottom;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.connect-wallet-modal .dismiss-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.connect-wallet-modal .dismiss-btn i {
  color: #b2bac2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.connect-wallet-modal .dismiss-btn i:hover {
  color: #e039fd;
}

.connect-wallet-modal h5.header {
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
  font-family: "AweSomE JouRneY", sans-serif;
}

.connect-wallet-modal .box {
  border: 5px solid rgba(100, 69, 237, 0.2);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.connect-wallet-modal .box img {
  width: 50px;
}

.banner {
  padding: 141px 0 100px 0;
  background-image: url(../img/nft-bg4.png);
  background-position: center;
}

.banner h2 {
  margin-bottom: 0;
}

.contact-section {
  padding: 100px 0;
}

.contact-section .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.contact-section .contact-box .icon-box {
  margin-right: 15px;
}

.contact-section .contact-box .icon-box i {
  font-size: 18px;
  color: #e039fd;
  background: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
  text-align: center;
  padding-top: 30px;
  width: 75px;
  height: 75px;
}

.contact-section form .input-field label {
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
  display: none;
}

.contact-section form .input-field .form-select,
.contact-section form .input-field .form-control {
  height: 55px;
  border-radius: 10px;
  background-color: rgba(100, 69, 237, 0.2);
  border: none;
  padding: 15px;
  font-size: 14px;
  font-weight: normal;
  caret-color: #e039fd;
  color: #b2bac2;
}

.contact-section form .input-field .form-select:focus,
.contact-section form .input-field .form-control:focus {
  color: #fff;
  -webkit-box-shadow: 0 0 0 0rem #fff;
          box-shadow: 0 0 0 0rem #fff;
}

.contact-section form .input-field .form-select::-webkit-input-placeholder,
.contact-section form .input-field .form-control::-webkit-input-placeholder {
  color: #b2bac2;
}

.contact-section form .input-field .form-select:-ms-input-placeholder,
.contact-section form .input-field .form-control:-ms-input-placeholder {
  color: #b2bac2;
}

.contact-section form .input-field .form-select::-ms-input-placeholder,
.contact-section form .input-field .form-control::-ms-input-placeholder {
  color: #b2bac2;
}

.contact-section form .input-field .form-select::placeholder,
.contact-section form .input-field .form-control::placeholder {
  color: #b2bac2;
}

.contact-section form .input-field .form-select {
  background-image: url(../img/icon/downward-arrow.png);
}

.contact-section form .input-field option {
  background: #6345ed;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-section form .input-field textarea.form-control {
  height: 150px;
  border-radius: 10px;
}

.contact-section form .btn-nft {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-section form .btn-nft i {
  position: relative;
  top: 2px;
}

.rtl .contact-section .contact-box .icon-box {
  margin-right: 0;
  margin-left: 15px;
}

.blog-details {
  padding: 100px 0;
}

.blog-details .img-box {
  margin-bottom: 15px;
}

.blog-details .img-box img {
  border-radius: 10px;
}

.blog-details .blog-box {
  margin-bottom: 50px;
}

.blog-details .blog-box:last-child {
  margin-bottom: 0;
}

.blog-details .blog-box .text-box .date-author {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-details .blog-box .text-box .date-author span {
  margin-right: 30px;
}

.blog-details .blog-box .text-box .date-author span i {
  font-size: 16px;
  color: #e039fd;
  margin-right: 5px;
}

.blog-details .blog-box .text-box .continue-reading {
  text-transform: capitalize;
  color: #e039fd;
  font-style: italic;
}

.blog-details .side-box {
  background: rgba(100, 69, 237, 0.2);
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.blog-details .side-box h5 {
  text-transform: capitalize;
}

.blog-details .side-box .post-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-details .side-box .post-box .img {
  width: 35%;
}

.blog-details .side-box .post-box .text {
  width: 65%;
  padding-left: 15px;
}

.blog-details .side-box .post-box .text h5 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.blog-details .side-box .post-box .text p {
  margin-bottom: 0;
}

.blog-details .side-box .links {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.blog-details .side-box .links li {
  margin-bottom: 10px;
}

.blog-details .side-box .links li a {
  color: #b2bac2;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-details .side-box .links li a:hover {
  color: #e039fd;
}

.blog-details .side-box .links li:last-child {
  margin-bottom: 0;
}

.blog-details .input-group {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0px;
}

.blog-details .input-group .form-control {
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  border: none;
  background: rgba(100, 69, 237, 0.2);
  color: #fff;
  caret-color: #e039fd;
  padding-left: 20px;
}

.blog-details .input-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.blog-details .input-group .form-control::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.blog-details .input-group .form-control:-ms-input-placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.blog-details .input-group .form-control::-ms-input-placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.blog-details .input-group .form-control::placeholder {
  text-transform: capitalize;
  color: #b2bac2;
}

.blog-details .input-group button {
  width: 50px;
  border: none;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
}

.blog-details .input-group button i {
  color: #fff;
  font-size: 16px;
}

.rtl .blog-details .blog-box .text-box .date-author span {
  margin-right: 0;
  margin-left: 30px;
}

.rtl .blog-details .blog-box .text-box .date-author span i {
  margin-right: 0;
  margin-left: 5px;
}

.pagination {
  border-radius: 10px;
  overflow: hidden;
}

.pagination .page-link {
  border: none;
  background: rgba(100, 69, 237, 0.2);
  color: #b2bac2;
  text-align: center;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px !important;
}

.pagination .page-item:hover .page-link,
.pagination .page-item.active .page-link {
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  background: rgba(100, 69, 237, 0.2);
  color: #b2bac2;
}

.pagination .page-link:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(13, 109, 253, 0.211);
          box-shadow: 0 0 0 0rem rgba(13, 109, 253, 0.211);
}

.rtl .pagination .page-item:first-child .page-link {
  margin: 0;
}

form.filter {
  margin-bottom: 50px;
}

form.filter .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

form.filter .input-field .form-select,
form.filter .input-field .form-control {
  height: 55px;
  max-width: 306px;
  border-radius: 10px;
  background-color: rgba(100, 69, 237, 0.2);
  border: none;
  padding: 15px;
  font-size: 14px;
  font-weight: normal;
  caret-color: #e039fd;
  color: #b2bac2;
}

form.filter .input-field .form-select:focus,
form.filter .input-field .form-control:focus {
  color: #fff;
  -webkit-box-shadow: 0 0 0 0rem #fff;
          box-shadow: 0 0 0 0rem #fff;
}

form.filter .input-field .form-select::-webkit-input-placeholder,
form.filter .input-field .form-control::-webkit-input-placeholder {
  color: #b2bac2;
}

form.filter .input-field .form-select:-ms-input-placeholder,
form.filter .input-field .form-control:-ms-input-placeholder {
  color: #b2bac2;
}

form.filter .input-field .form-select::-ms-input-placeholder,
form.filter .input-field .form-control::-ms-input-placeholder {
  color: #b2bac2;
}

form.filter .input-field .form-select::placeholder,
form.filter .input-field .form-control::placeholder {
  color: #b2bac2;
}

form.filter .input-field .form-select {
  background-image: url(../img/icon/downward-arrow.png);
}

form.filter .input-field option {
  background: #6345ed;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form.filter .input-field textarea.form-control {
  height: 150px;
  border-radius: 10px;
}

form.filter .btn-nft {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form.filter .btn-nft i {
  position: relative;
  top: 2px;
}

.nft-creators {
  padding: 100px 0;
}

.nft-creators .creator-box {
  background: rgba(100, 69, 237, 0.2);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nft-creators .creator-box:hover {
  bottom: 10px;
}

.nft-creators .creator-box .img-box .cover {
  height: 120px;
  width: 100%;
  border-radius: 15px;
}

.nft-creators .creator-box .img-box .profile {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin-top: -50px;
  margin-bottom: 15px;
}

.nft-creators .creator-box .text-box a.creator-name {
  margin-bottom: 0px;
  display: block;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nft-creators .creator-box .text-box a.creator-name i {
  font-size: 16px;
  color: #6345ed;
}

.nft-creators .creator-box .text-box a.creator-name:hover {
  color: #e039fd;
}

.nft-creators .creator-box .text-box .btn-nft {
  height: 45px;
  font-size: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 12px 0;
}

.nft-creators .creator-box .text-box .btn-nft i {
  font-size: 14px;
}

.nft-details {
  padding: 100px 0;
}

.nft-details .img-box img {
  border-radius: 10px;
}

.nft-details .text-box .btn-group {
  margin-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-details .text-box .btn-group .react {
  background: rgba(100, 69, 237, 0.2);
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-weight: 300;
  border-radius: 10px;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nft-details .text-box .btn-group .react i {
  position: relative;
  top: 2px;
  font-size: 16px;
  margin-right: 5px;
}

.nft-details .text-box .btn-group .react:hover {
  color: #e039fd;
}

.nft-details .text-box .owners {
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.nft-details .text-box .owners .box {
  background: rgba(100, 69, 237, 0.2);
  padding: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nft-details .text-box .owners .box img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.nft-details .text-box .owners .box a.creator-name {
  display: block;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nft-details .text-box .owners .box a.creator-name:hover {
  color: #e039fd;
}

.nft-details .text-box .owners .box p {
  color: #fff;
}

.nft-details .text-box .owners .box p span {
  font-size: 12px;
}

.nft-details .text-box .owners .box span {
  color: #b2bac2;
}

.nft-details .text-box .prices .box {
  padding: 10px 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-details .text-box .btn-nft {
  height: 45px;
  width: 100%;
  margin-top: 30px;
  padding-top: 13px;
  font-size: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nft-details .navigator {
  margin-top: 30px;
  margin-bottom: 15px;
  background: rgba(100, 69, 237, 0.2);
  padding: 10px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.nft-details .navigator button {
  color: #b2bac2;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nft-details .navigator button:hover, .nft-details .navigator button.active {
  background: rgba(100, 69, 237, 0.2);
  color: #e039fd;
}

.nft-details .content {
  padding: 10px;
  display: none;
}

.nft-details .content .wrapper {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-details .content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.nft-details .content .box img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.nft-details .content .box p {
  color: #b2bac2;
  margin-bottom: 0;
}

.nft-details .content .box p span {
  color: #fff;
}

.nft-details .content .box span.date {
  color: #b2bac2;
  font-size: 12px;
}

.nft-details .content .box2 p {
  color: #fff;
}

.nft-details .additional-info ul {
  list-style: none;
  padding-left: 0;
}

.nft-details .additional-info ul li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-details .content.active {
  display: block;
}

.rtl .nft-details .text-box .btn-group .react i {
  margin-right: 0;
  margin-left: 5px;
}

.rtl .nft-details .text-box .owners .box img {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .nft-details .content .box img {
  margin-right: 0;
  margin-left: 10px;
}

.profile-section {
  padding: 100px 0 50px 0;
}

.profile-section .cover-wrapper {
  position: relative;
  padding: 50px;
  background-color: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
}

.profile-section .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: none;
}

.profile-section .about .profile {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 15px;
}

.profile-section .about .name i {
  color: #6345ed;
}

.profile-section .about .bio {
  color: #fff;
}

.profile-section .about .links a {
  display: block;
  color: #fff;
  margin-bottom: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.profile-section .about .links a:hover {
  color: #e039fd;
}

.profile-section .about .links a:last-child {
  margin-bottom: 0;
}

.profile-section .about .links a i {
  margin-right: 10px;
  font-size: 16px;
  color: #e039fd;
}

.profile-section .right-wrapper {
  position: relative;
  height: 100%;
}

.profile-section .right-wrapper .button-group {
  text-align: right;
}

.profile-section .right-wrapper .button-group button {
  background-color: rgba(100, 69, 237, 0.2);
  padding: 14px 17px;
  border-radius: 10px;
  color: #fff;
}

.profile-section .right-wrapper .button-group button i {
  font-size: 16px;
}

.profile-section .right-wrapper .button-group .btn-nft {
  height: 50.5px;
  padding: 14px 0;
  text-transform: capitalize;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.profile-section .right-wrapper .button-group .btn-nft i {
  font-size: 16px;
  position: relative;
  top: 2px;
}

.profile-section .right-wrapper .button-group .user-id i {
  margin-left: 5px;
}

.profile-section .right-wrapper .social-links {
  margin-top: 15px;
  text-align: right;
}

.profile-section .right-wrapper .social-links a {
  color: #e039fd;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  padding-top: 12px;
  text-align: center;
  background: rgba(100, 69, 237, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.profile-section .right-wrapper .social-links a i {
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.profile-section .right-wrapper .social-links a i:hover {
  color: #e039fd;
}

.profile-section .right-wrapper .counts {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.profile-section .right-wrapper .counts .count span {
  display: block;
  color: #fff;
}

.rtl .profile-section .about .profile {
  margin-right: 0;
  margin-left: 15px;
}

.rtl .profile-section .about .links a i {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .profile-section .right-wrapper .button-group,
.rtl .profile-section .right-wrapper .social-links {
  text-align: left;
}

.author-artworks {
  margin-bottom: 100px;
}

.author-artworks .navigator {
  margin-bottom: 15px;
  background: rgba(100, 69, 237, 0.2);
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.author-artworks .navigator button {
  color: #b2bac2;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.author-artworks .navigator button:hover, .author-artworks .navigator button.active {
  background: rgba(100, 69, 237, 0.2);
  color: #e039fd;
}

.user-panel {
  padding: 100px 0;
}

.user-panel .sidebar-wrapper {
  background: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
  padding: 20px;
}

.user-panel .sidebar-wrapper .cover {
  width: 100%;
  position: relative;
}

.user-panel .sidebar-wrapper .cover img {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

.user-panel .sidebar-wrapper .profile {
  margin-top: -75px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.user-panel .sidebar-wrapper .profile .img {
  position: relative;
  margin-right: 20px;
  height: 150px;
  width: 150px;
}

.user-panel .sidebar-wrapper .profile .img img {
  border-radius: 10px;
  border-radius: 10px;
}

.user-panel .sidebar-wrapper .profile h5 i {
  font-size: 16px;
  color: #6345ed;
}

.user-panel .sidebar-wrapper .upload-img {
  padding: 8px 12px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #b2bac2;
}

.user-panel .sidebar-wrapper .upload-img i {
  font-size: 16px;
}

.user-panel .sidebar-wrapper .upload-img:hover {
  color: #e039fd;
}

.user-panel .sidebar-wrapper .upload-img input {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer !important;
}

.user-panel .sidebar-wrapper .sidebar {
  margin-top: 20px;
  padding: 20px;
}

.user-panel .sidebar-wrapper .sidebar a {
  display: block;
  color: #fff;
  margin-bottom: 15px;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.user-panel .sidebar-wrapper .sidebar a:last-child {
  margin-bottom: 0;
}

.user-panel .sidebar-wrapper .sidebar a.active, .user-panel .sidebar-wrapper .sidebar a:hover {
  color: #e039fd;
}

.user-panel .sidebar-wrapper .sidebar a i {
  margin-right: 15px;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.user-panel form .input-field label {
  font-weight: 400;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #fff;
}

.user-panel form .input-field .form-select,
.user-panel form .input-field .form-control {
  height: 55px;
  border-radius: 10px;
  background-color: rgba(100, 69, 237, 0.2);
  border: none;
  padding: 17px;
  font-size: 14px;
  font-weight: normal;
  caret-color: #e039fd;
  color: #b2bac2;
}

.user-panel form .input-field .form-select:focus,
.user-panel form .input-field .form-control:focus {
  color: #fff;
  -webkit-box-shadow: 0 0 0 0rem #fff;
          box-shadow: 0 0 0 0rem #fff;
}

.user-panel form .input-field .form-select::-webkit-input-placeholder,
.user-panel form .input-field .form-control::-webkit-input-placeholder {
  color: #b2bac2;
}

.user-panel form .input-field .form-select:-ms-input-placeholder,
.user-panel form .input-field .form-control:-ms-input-placeholder {
  color: #b2bac2;
}

.user-panel form .input-field .form-select::-ms-input-placeholder,
.user-panel form .input-field .form-control::-ms-input-placeholder {
  color: #b2bac2;
}

.user-panel form .input-field .form-select::placeholder,
.user-panel form .input-field .form-control::placeholder {
  color: #b2bac2;
}

.user-panel form .input-field .form-select {
  background-image: url(../img/icon/downward-arrow.png);
}

.user-panel form .input-field .attach-file {
  position: relative;
}

.user-panel form .input-field .attach-file span.prev {
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 110px;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  padding: 16px;
}

.user-panel form .input-field option {
  background: #6345ed;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.user-panel form .input-field textarea.form-control {
  height: 150px;
  border-radius: 10px;
}

.user-panel form .btn-nft {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-panel form .btn-nft i {
  position: relative;
  top: 2px;
}

.rtl .user-panel .sidebar-wrapper .profile {
  margin-left: 0;
}

.rtl .user-panel .sidebar-wrapper .profile .img {
  margin-left: 20px;
}

.rtl .user-panel .sidebar-wrapper .sidebar a i {
  margin-right: 0;
  margin-left: 15px;
}

.art-ranking {
  padding: 100px 0;
}

.art-ranking .table {
  color: #b2bac2;
  margin-bottom: 0;
}

.art-ranking .table tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: #3c0f60;
  color: #b2bac2;
}

.art-ranking .table tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: transparent;
  color: #b2bac2;
}

.art-ranking .table thead {
  background: #3c0f60;
  color: #fff;
  text-transform: capitalize;
}

.art-ranking .table tbody {
  border: none;
}

.art-ranking .table tr {
  border: none;
}

.art-ranking .table tr th {
  font-weight: 500;
  border: none !important;
  padding: 20px;
}

.art-ranking .table tr th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.art-ranking .table tr th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.art-ranking .table tr td {
  padding: 20px;
  color: #b2bac2;
  border: none !important;
  text-transform: capitalize;
  margin: 5px !important;
}

.art-ranking .table tr td img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.art-ranking .table tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.art-ranking .table tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal .modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal .modal-header i {
  color: #b2bac2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal .modal-header i:hover {
  color: #e039fd;
}

.modal .modal-content {
  background: #3c0f60;
  color: #b2bac2;
}

.modal .modal-content .btn-nft {
  padding: 15px 20px;
  width: auto;
  height: 50px;
  text-transform: capitalize;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-content .btn-nft i {
  font-size: 16px;
}

.modal .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 991px) {
  .navbar {
    background: url(../img/body-bg2.png);
    background-size: cover;
    background-position: center top;
  }
  .navbar .nav-item {
    text-align: center;
  }
  .navbar .navbar-text {
    position: absolute;
    right: 50px;
    top: 11px;
  }
  .profile-section .cover-wrapper {
    padding: 20px;
  }
  .profile-section .cover-wrapper .right-wrapper .social-links {
    margin: 15px 0;
  }
  .profile-section .cover-wrapper .right-wrapper .counts {
    position: relative;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  .navbar {
    padding: 12px 0px;
  }
  .navbar .navbar-text .btn-nft {
    width: 45px;
    height: 45px;
    padding-left: 10px;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar .navbar-text .btn-nft span {
    display: none;
  }
  .navbar .navbar-text .profile img {
    width: 45px;
    height: 45px;
    position: relative;
    top: -2px;
  }
  .navbar .navbar-text .search i {
    font-size: 20px;
  }
  .home-section .overlay {
    background: rgba(0, 0, 0, 0.2);
  }
  .profile-section .cover-wrapper {
    text-align: center;
  }
  .profile-section .cover-wrapper .about .profile {
    margin: 0;
    margin-bottom: 15px;
  }
  .profile-section .cover-wrapper .right-wrapper .button-group .btn-nft {
    margin-top: 15px;
  }
  .profile-section .cover-wrapper .right-wrapper .button-group,
  .profile-section .cover-wrapper .right-wrapper .social-links {
    text-align: center;
  }
  .user-panel .sidebar-wrapper .profile {
    display: block;
    text-align: center;
  }
  .user-panel .sidebar-wrapper .profile .img {
    margin: auto;
    margin-bottom: 15px;
    width: 120px;
    height: 120px;
  }
  .user-panel .sidebar-wrapper .sidebar {
    padding: 0;
  }
  .rtl .user-panel .sidebar-wrapper .profile .img {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .home-section {
    height: 120vh;
  }
  .home-section .text-box h1 {
    font-size: 36px;
  }
  form.filter .input-field {
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .nft-details .text-box .owners {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .nft-details .text-box .owners .box {
    padding: 10px 10px;
  }
  .author-artworks .navigator {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */