@import url("http://fonts.cdnfonts.com/css/sofia-pro");
@import url("http://fonts.cdnfonts.com/css/poppins");
@import url("http://fonts.cdnfonts.com/css/combat-combo");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/awesome-journey");
@import url("http://fonts.cdnfonts.com/css/hessthicc");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../img/body-bg.png);
  background-size: cover;
  background-position: center top;
  font-family: "Sofia Pro", sans-serif;
  color: #b2bac2;
  font-weight: 300;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
}

h1 {
  font-size: 64px;
  font-family: "AweSomE JouRneY", sans-serif;
}

h2 {
  font-size: 48px;
  font-family: "AweSomE JouRneY", sans-serif;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0rem black;
          box-shadow: 0 0 0 0rem black;
}

button {
  background: none;
  border: none;
  padding: 0;
}

i {
  font-size: 18px;
}

.btn-nft {
  width: 175px;
  height: 55px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  background-size: 200% auto;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
  color: white;
  border: none;
  border-radius: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.8);
}

.btn-nft i {
  margin-right: 10px;
}

.navbar .navbar-brand {
  font-family: "AweSomE JouRneY", sans-serif;
  font-size: 32px;
  color: #fff;
  width: 243px;
}

.navbar .nav-item {
  margin: 0 15px;
}

.navbar .nav-item .nav-link {
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .nav-item .nav-link.active, .navbar .nav-item .nav-link:hover {
  color: #e039fd;
}

.navbar .navbar-text .search {
  background: none;
  border: none;
  position: relative;
  top: 5px;
  margin-right: 15px;
}

.navbar .navbar-text .search i {
  font-size: 24px;
  color: #fff;
}

.navbar .navbar-text .btn-nft {
  width: 200px;
  height: 50px;
}

.navbar.active {
  background: url(../img/body-bg.png);
  background-size: cover;
  background-position: center top;
}

.home-section {
  height: 100vh;
  background-image: url(../img/nft-bg4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.home-section .overlay {
  background: rgba(0, 0, 0, 0.2);
  background-image: url(../img/black-monkey.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.home-section .text-box h1 {
  color: #e039fd;
  text-shadow: 0 4px 7px #000;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.home-section .text-box p {
  font-weight: 400;
  color: #fff;
  text-shadow: 0 4px 7px #000;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "AweSomE JouRneY", sans-serif;
}

.about-section {
  padding: 100px 0;
}

.about-section .text-box h2 {
  margin-bottom: 30px;
}

.about-section .text-box p {
  margin-bottom: 50px;
}

.about-section .text-box .btn-nft i {
  font-size: 16px;
}

.live-auction {
  padding: 100px 0;
}

.live-auction .nft-box {
  background: rgba(100, 69, 237, 0.2);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .img-box {
  margin-bottom: 15px;
  position: relative;
}

.live-auction .nft-box .img-box img {
  border-radius: 15px;
}

.live-auction .nft-box .img-box .wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .img-box .wishlist i {
  font-size: 14px;
  margin-right: 5px;
}

.live-auction .nft-box .img-box .timer {
  position: absolute;
  text-align: center;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 5px 10px;
  width: 150px;
  border-radius: 10px;
}

.live-auction .nft-box .img-box .timer i {
  font-size: 16px;
  margin-right: 5px;
}

.live-auction .nft-box .img-box .btn-nft {
  position: absolute;
  text-align: center;
  bottom: -40px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 50px;
  opacity: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.live-auction .nft-box .text-box a {
  display: block;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .text-box .dot {
  padding-left: 15px;
}

.live-auction .nft-box .text-box .dot i {
  font-size: 16px;
  color: #b2bac2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .text-box .dot::after {
  display: none;
}

.live-auction .nft-box .text-box .dot:hover i {
  color: #e039fd;
}

.live-auction .nft-box .text-box .dropdown-menu {
  background: rgba(0, 0, 0, 0.8);
  min-width: 110px;
}

.live-auction .nft-box .text-box .dropdown-menu .dropdown-item {
  color: #b2bac2;
  text-transform: capitalize;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.live-auction .nft-box .text-box .dropdown-menu .dropdown-item i {
  font-size: 14px;
  margin-right: 5px;
}

.live-auction .nft-box .text-box .dropdown-menu .dropdown-item:hover {
  background: none;
  color: #e039fd;
}

.live-auction .nft-box .text-box p {
  color: #fff;
}

.live-auction .nft-box .text-box .creator img {
  width: 50px;
  border-radius: 10px;
}

.live-auction .nft-box:hover {
  bottom: 10px;
}

.live-auction .nft-box:hover .btn-nft {
  opacity: 1;
  bottom: 0;
}

.top-creator {
  padding: 100px 0;
}

.top-creator .creator-box {
  background: rgba(100, 69, 237, 0.2);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.top-creator .creator-box .img-box img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.top-creator .creator-box .text-box {
  margin-left: 15px;
  width: calc(100% - 90px);
}

.top-creator .creator-box .text-box a {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
}

.top-creator .creator-box .text-box a i {
  font-size: 16px;
  color: #6345ed;
}

.top-creator .creator-box .text-box p {
  color: #fff;
}

.top-creator .creator-box:hover {
  bottom: 10px;
}

.how-it-works {
  padding: 100px 0;
}

.how-it-works .box {
  background: rgba(100, 69, 237, 0.2);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  bottom: 0;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.how-it-works .box .img-box {
  margin-bottom: 15px;
}

.how-it-works .box .img-box img {
  width: 150px;
  height: 150px;
}

.how-it-works .box:hover {
  bottom: 10px;
}

.how-it-works .number-count {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgba(100, 69, 237, 0.2);
  font-family: "Urbanist", sans-serif;
  z-index: 1;
}

.faq-section {
  padding: 100px 0;
}

.faq-section .accordion-item {
  background: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
  border: none;
  margin-bottom: 25px;
}

.faq-section .accordion-button {
  background: none;
  border-radius: 20px !important;
  padding: 25px 30px;
  font-size: 18px;
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  color: #fff;
}

.faq-section .accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.faq-section .accordion-button::after {
  background-image: url(../img/down-arrow.png);
}

.faq-section .accordion-body {
  padding: 0px 30px 30px 30px;
}

.faq-section .accordion-button:not(.collapsed) {
  color: #e039fd;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-section {
  padding: 100px 0;
}

.blog-section .box {
  background: rgba(100, 69, 237, 0.2);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 20px;
}

.blog-section .box .img-box img {
  border-radius: 15px;
}

.blog-section .box:hover {
  bottom: 10px;
}

.blog-section .box .text-box {
  margin-top: 15px;
}

.blog-section .box .text-box .date-author {
  margin-bottom: 15px;
}

.blog-section .box .text-box .date-author span {
  margin-right: 30px;
}

.blog-section .box .text-box .date-author span i {
  font-size: 16px;
  color: #e039fd;
  margin-right: 5px;
}

.blog-section .box .text-box .read-more {
  color: #b2bac2;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  left: 60px;
}

.blog-section .box .text-box .read-more:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #e039fd;
  left: -60px;
  top: 9px;
}

.blog-section .box .text-box .read-more:hover {
  color: #e039fd;
}

.footer-section {
  padding: 100px 0 0 0;
  background: rgba(100, 69, 237, 0.2);
  background: rgba(0, 0, 0, 0.4);
}

.footer-section .box .navbar-brand {
  font-family: "AweSomE JouRneY", sans-serif;
  font-size: 32px;
  color: #fff;
  padding: 0;
  display: inline-block;
  margin-bottom: 30px;
}

.footer-section .box .social-links {
  margin-top: 20px;
}

.footer-section .box .social-links a {
  color: #e039fd;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 10px;
  padding-top: 14px;
  text-align: center;
  background: rgba(100, 69, 237, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .box .social-links a i {
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .box .social-links a i:hover {
  color: #e039fd;
}

.footer-section .box h5 {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.footer-section .box p {
  margin-bottom: 10px;
}

.footer-section .box .links {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer-section .box .links li {
  margin-bottom: 10px;
}

.footer-section .box .links li a {
  text-transform: capitalize;
  color: #b2bac2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .box .links li a:hover {
  color: #e039fd;
}

.footer-section .box .input-group {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0px;
}

.footer-section .box .input-group .form-control {
  height: 50px;
  border: none;
  background: rgba(100, 69, 237, 0.2);
  color: #fff;
  caret-color: #e039fd;
}

.footer-section .box .input-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

.footer-section .box .input-group button {
  width: 50px;
  border: none;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
}

.footer-section .box .input-group button i {
  color: #fff;
  font-size: 16px;
}

.footer-section .box1 {
  margin-top: -25px;
}

.footer-section .copyright {
  margin-top: 100px;
  padding-bottom: 30px;
}

.footer-section .copyright a {
  color: #b2bac2;
  margin: 0 7.5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-section .copyright a:hover {
  color: #e039fd;
}

.scroll-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.scroll-up i {
  color: #fff;
  height: 50px;
  width: 50px;
  background: linear-gradient(79deg, #6345ed 0%, #e039fd 100%);
  border-radius: 10px;
  text-align: center;
  padding-top: 16px;
}

.connect-wallet-modal {
  background: url(../img/body-bg.png);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.connect-wallet-modal .dismiss-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  text-shadow: 0 4px 7px #000;
}

.connect-wallet-modal .dismiss-btn i {
  color: #e039fd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.connect-wallet-modal .dismiss-btn i:hover {
  color: #e039fd;
}

.connect-wallet-modal h5.header {
  font-weight: 400;
  color: #e039fd;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "AweSomE JouRneY", sans-serif;
}

.connect-wallet-modal .box {
  border: 5px solid rgba(100, 69, 237, 0.2);
  border-radius: 15px;
  padding: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.connect-wallet-modal .box img {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */